page-detalles {
    #map_canvas1 {
        height: 50%;
      }
    #fav{
        background-color: #ffd000;
        border-style: none;
    }
    .icon{
        font-size: 30px;
    }
    .ion-button{
        width: 100%;
    }
}
