<!--
  Generated template for the DetallesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary" >
    <ion-title>Información</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="font-weight:lighter;text-align:center;">
  
<!--<img src="{{imagen}}" width="250px" height="250px">-->
  <div id="map_canvas1"></div>  
  <h2 style="font-size: 30x" >{{item.nombre}}</h2>
  <h2 style="font-size: 20x">{{item.direccion}}</h2>
  <button ion-button icon-start *ngFor="let numeros of item.telefono"  on-click="Llamar(numeros)" style="width: 100%;">
    <ion-icon name="call"></ion-icon>{{numeros}}
  </button>

  <!--<button [attr.href]="{{item.pagina}}">
    <ion-icon name="globe"></ion-icon>
 </button>-->
 <a button href="{{item.pagina}}" ion-button color="secondary" id="pagina_boton" style="width: 100%;" ><ion-icon id="pagina" name="globe"></ion-icon></a>

 <button  id="fav" ion-button on-click="InsertarFavorito()" style="width: 100%;"><ion-icon name="star" id="iconfav"></ion-icon></button>
  <!--
  <ion-card>
    <div id="map_canvas1"></div>
    <ion-card-content>
      <ion-card-title>
        {{item.nombre}}
        </ion-card-title>
      <p>
        {{item.direccion}}
      </p>
      <button ion-button icon-start *ngFor="let numeros of item.telefono"  on-click="Llamar(numeros)">
        <ion-icon name="call"></ion-icon>{{numeros}}
      </button>
    </ion-card-content>
  </ion-card>
-->
</ion-content>
