page-cloud-tab-default-page {
    ion-searchbar{
        display: -webkit-inline-box;
        width: 87%;
    }
    .button-md {
        border-radius: 100%;
        height: 3.6rem;
        padding: 1.1em;
        margin: 0%
    }
}

